.worldClass {
  display: flex;
  flex-direction: column;
  background-image: url("../../../src/assets/images/worldClass/world-class.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
  }
}

.worldClass__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1rem;
  z-index: 1;
}

.worldClass__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  @media screen and (max-width: 660px) {
    text-align: left;
  }
}

.worldClass__description {
  display: flex;
  text-align: center;
  max-width: 56.25rem;
  width: 100%;
  margin-top: 1.5rem;
  line-height: 1.625;
  @media screen and (max-width: 660px) {
    text-align: left;
    margin-top: 0.5rem;
  }
}

.worldClass__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 48rem;
  width: 100%;
  margin: 2rem auto 0;
}

.worldClass__list__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - (2 * 1rem)) / 3);
  padding: 1.5rem;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 0.725rem;
  backdrop-filter: blur(0.75rem);
  color: white;
  @media screen and (max-width: 660px) {
    width: 100%;
  }
}

.worldClass__list__item__icon {
  display: flex;
  width: 2rem;
  margin: 0 auto;
  @media screen and (max-width: 660px) {
    width: 3rem;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.worldClass__list__item__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.worldClass__list__item__description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.875rem;
}